#apDiv1 {
	position:absolute;
	width:100%;
	height:65px;
	top: 0;
	left: 0;
}
#apDiv2 {
	position:absolute;
	width:200px;
	height:65px;
	left: 20%;
	top: 0px;
}
#apDiv3 {
	position:absolute;
	width:480px;
	height:64px;
	z-index:2;
	left: 60%;
	top: 1px;
}
.style5 {
	color: #FFD700;
}